extends layouts/main.pug

block content
  .change-password-container
    form(action=`/users${routes.changePassword}`, method="get")
      input(type="password", placeholder="Current Password")
      input(type="password", placeholder="New Password")
      input(type="password", placeholder="Verify New Password")
      input(type="submit", value="Change Password")